.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
}

.crypto-card {
  min-width: 400px;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
